html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    color: #000;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
        sans-serif;
    background: url('./img/background.png');
    background-size: cover;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

label {
    display: block;
}

input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    padding: 0.4em;
    margin: 0 0 0.5em 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: #fff;
}

input:disabled {
    color: #ccc;
}

h1,
h2,
h3,
h4 {
    font-family: 'Redressed', cursive;
}

h1 {
    font-size: 400%;
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 170%;
}

p {
    font-size: 18px;
}

input[type='range'] {
    -webkit-appearance: none;
    width: 100%;
    margin: 14px 0;
}

input[type='range']:focus {
    outline: none;
}

input[type='range']::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    background: #666;
}

input[type='range']::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 20px;
    width: 16px;
    background: #ffffff;
    -webkit-appearance: none;
    margin-top: -6.5px;
}

input[type='range']:focus::-webkit-slider-runnable-track {
    background: #000;
}
