html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
        sans-serif;
    background: url('./img/background.png');
    background-size: cover;
    height: 100%;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

label {
    display: block;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    padding: 0.4em;
    margin: 0 0 0.5em 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
}

input:disabled {
    color: #ccc;
}

input[type='range'] {
    height: 0;
}

button {
    color: #333;
    background-color: #f4f4f4;
    outline: none;
    cursor: pointer;
    padding: 0.5em 1em;
}

button:hover {
    background-color: #d8dbde;
}

button:active {
    background-color: #ddd;
}

button:focus {
    border-color: #666;
}

button:disabled {
    opacity: 0.7;
    cursor: default;
}

button:disabled:hover {
    background-color: #f4f4f4;
}

h1,
h2,
h3,
h4 {
    font-family: 'Redressed', cursive;
}

h1 {
    font-size: 400%;
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 170%;
}

table {
    width: 50%;
    background: #d8dbde;
    margin: 1em 0;
    font-size: 90%;
}

tr {
    padding: 0.25em 1em;
}

th {
    text-align: left;
}

tr:nth-child(2n + 1) {
    background: #c3c3bb;
}

th,
td {
    padding: 0.5em;
}

th:last-child,
td:last-child {
    text-align: right;
}
